footer{
    bottom: 0;
    width: 100%;
    color: white;
    background: rgb(51, 53, 58);
}

.footer-icon{
    text-align: center;
}

.footer-link{
    margin: auto auto;
    color: white;
    text-align: center;
}

.footer-link i,p{
    padding: 2%;
}

.footer-box{
    padding-top: 2%;
    padding-bottom: 2%;
}

.slick-bar{
    background: rgb(167, 170, 175);
    height: 0.25vh;
}