body{
    background: rgb(242, 242, 242);
    font-family: 'Ubuntu', sans-serif;
}

.profile-head{
    margin-top: 2%;
    height: 30vh;
    background: url("../image/blur-bokeh-dark-8395.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0;
    border-radius: 4px;
}

.name-container{
    text-align: center;
    margin-top: 2%;
    
}

#para{
    height: auto;
    border: 1px solid rgb(196, 202, 211);
    background: rgb(255, 255, 255);
    text-align: center;
    display: inline-block;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-right: 2%;
    padding-left: 2%;
    border-radius: 4px;
}

.info-container{
    background: rgb(255, 255, 255);
    border-radius: 4px;
    padding-top: 2%;
    padding-bottom: 2%;
    border: 1px solid rgb(196, 202, 211);
    margin-bottom: 2%;
    margin-top: 1%;
}

.no-gutter{
    padding: 0;
    border-right:2px solid rgb(167, 170, 175)
}

.no-gutter a {
    color: black;
    font-weight: bold;
}


.nav .nav-link >.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: rgb(31, 158, 22);;
}


.tab-pane label{
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: underline;
}

.cv-box-empty{
    border: 1px solid grey;
    height: 20vh;
    background-image: url("../image/icons8-add-100.png");
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 2px;
}

.cv-box-filled{
    border: 1px solid grey;
    height: 20vh;
    background-image: url("../image/icons8-file-100.png");
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 2px;
}

.profile-edit-btn{
    margin-top: 2%;
    text-transform: uppercase;
    font-weight: bold;
}

.cv-open-btn{
    margin-top: 1%;
    text-transform: uppercase;
}

input[type='file']{
    width: auto;
}

#cv-save-btn{
    margin-bottom: 2%;
    vertical-align: text-center;
}

.info-change-form input{
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-radius: 0;
}

.input-field{
    margin-bottom: 1%;
}

.form-control:focus{
    border-color: #cccccc;
    -webkit-box-shadow: none;
    box-shadow: none; 
}

input[type=email]:focus{
    border-bottom-color: rgb(12, 12, 12);
}

input[type=password]:focus{
    border-bottom-color: rgb(12, 12, 12);
}

.custom-cv textarea{
    border-radius: 2px;
    margin-bottom: 2%;
}

@media only screen and (max-width: 768px){
    .no-gutter{
    padding: 0;
    margin-bottom: 2%;
    border-right: 0;
    border-bottom:2px solid rgb(167, 170, 175)
}
}
