html, body{
    height: 100%;
}

.background{
    background: url("../image/business-computer-connection-450035.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    
}


.lower-body{
    text-align: center;
}

.form-container{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin: 0 auto;
    height: auto;
    border-radius: 10px;
    background: rgb(255, 255, 255);
}

.input-field{
    margin: auto auto;
    padding-top: 5%;
}

.lower-body{
    margin-top: 4%;
    padding-bottom: 4%;
    margin-bottom: 0;
}

.form-control:focus{
    border-color: #cccccc;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.form-container input{
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-radius: 0;
}

h1{
  padding-top: 4%;  
}

input[type=email]:focus{
    border-bottom-color: rgb(31, 158, 22);
}

input[type=password]:focus{
    border-bottom-color: rgb(31, 158, 22);
}

#lower-text{
    margin-bottom: 0;
}

.alert{
    margin-bottom: 2%;
    height: 0.5%;
    text-align: center;
    padding-top: .5%;
    padding-bottom: .5%;
}

.alert-dismissible .close{
    padding: 0;
}